* {
        box-sizing: border-box;
}

html,
body {
    font-size: 16px;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--background);
    font-family: "Courier New", Courier, monospace;
    transition: background-color 0.3s ease, color 0.3s ease;
}

body.light{
    --btn-background: #fca311;
    --border:#14213d;
    --text:#000;
    --second-text:#000;
    --background: #e5e5e5;
    --item-background: #fff;
    --btn-active:#e49200;
}

body.dark{
    --background: #4b4b4b;
    --btn-background: #e49200;
    --btn-active:#fca311;
    --border:#e9e9e9;
    --text:#f6f6f6;
    --second-text:#f6f6f6;
    --item-background: #2c2c2c;
}

body.light input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(0); /* black */
}

body.dark input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1); /* white */
}

#root {
    width: 100%;
    min-height: 100vh;
}

.flex{
    display: flex;
}

.jcc{
    justify-content: center;
}

.aic{
    align-items: center;
}

.fdc{
    flex-direction: column;
}

.container {
    width: 100%;
    max-width: 60rem;
    padding: 2rem;
    gap: 1rem;
    z-index: 1;
}

h2{
    color: var(--text);
    font-size: 1.7rem;
}

.item {
    width: 100%;
    padding: 2rem;
    font-size: 1rem;
    background-color: var(--item-background);
    color: var(--text);
    border: 2px solid var(--border);
    border-radius: 0.5rem;
    box-shadow: 3px 3px var(--border);
}

.date {
    background-color: var(--btn-background);
    border: 2px solid var(--border);
    box-shadow: 2px 2px var(--border);
    border-radius: 0.6rem;
    font-weight: bold;
    padding: 1rem 1.5rem;
    gap: 0.2rem;
    width: 7rem;
}

.day {
    color: var(--text);
    font-size: 2.9rem;
    line-height: 1;
}

.month-year {
    font-size: 1rem;
    color: var(--second-text);
    line-height: 1.2;
    text-align: center;
}

.content {
    flex: 1;
    padding: 1rem 1.5rem;
    gap: 0.6rem;
}

.title {
    font-size: 1.5rem;
    font-weight: bold;
    color:var(--second-text);
}

.desc,
.cate {
    font-size: 1rem;
    color: var(--second-text);
}

.btns-section {
    flex-wrap: wrap;
    gap: 1rem;
}

.btn {
    color: var(--text);
    background-color:var(--btn-background);
    border: 1px solid var(--border);
    border-radius: 0.4rem;
    min-width:2.6rem;
    padding: 0.4rem;
    display: inline-block;
    transition: all 0.25s ease;
    box-shadow: 2px 2px var(--border);
    cursor: pointer;
}

.btn:active {
    transform: translate(2px, 2px);
    box-shadow: 0 0 var(--border);
    background-color: var(--btn-active);
}

.icon {
    width:1.4rem;
    height:1.4rem;
    color: var(--text);
}

.btn-header {
    height: 2.6rem;
}

.btn-header>.btn-shape{
    line-height: 1.2rem;
    vertical-align: top;
}

.header-container {
    width: 100%;
    gap: 1rem;
    justify-content: end;
    padding: 1rem 2rem 0 0;
}

.newItem {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 2;
    opacity: 1;
    transition: all 1s ease;
}

.newItem-container {
    background: var(--background);
    width: 90%;
    max-width: 600px;
    height: 90%;
    border-radius: 1rem;
    padding: 1.5rem;
    overflow-y: auto;
    box-shadow: 0 0 20px rgba(0,0,0,1);
    position: relative;
    opacity: 0;
    transition: all 1s ease;
}

.newItem-container.show {
    opacity: 1;
}

.info-form{
    padding: 2.5rem 2rem;
    width:100%;
    height: 100%;
}

.info-form>label{
    color: var(--text);
    display: block;
    padding: 2rem 0 0.5rem;
    font-weight: bold;
}

.info-form>input, textarea, select{
    background-color: var(--item-background);
    color: var(--text);
    border: 1px solid var(--border);
    border-radius: 0.5rem;
    box-shadow: 2px 2px var(--border);
    display: block;
    width: 100%;
    padding: 0.7rem;
    font-size: 1.1rem;
    font-family: "Courier New", Courier, monospace;
}

.btn-cancel{
    align-self: flex-end;
}

.btn-submit{
    width: 35%;
    align-self: center;
    margin-top: 3.5rem;
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
}

.btn-submit-span{
    font-size: 1.5rem;
}