@media (max-width: 768px) {
  html{
    font-size: 12px;
  }

  .info-form{
    padding-top: 5rem;
  }

  .btn-shape {
    font-size: 1.25rem;
}
}

/* Tablets */
@media (max-width: 1024px) {
  /* tablet styles */
}
